/*styles.css*/


/* RESUME
Styles for the project title and date aligned to the right */
.project-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline; /* Align the baseline of the title and date for cleaner look */
  margin-bottom: 5px;
  margin-left: 0;
}
h2 {
    text-align: center;
}


/* SOCIAL MEDIA ICONS */
div#sm-icons {
    float: right;
    margin: 0px 15px;
}
a[class^="fa fa"] {
    color: white;
    padding: 20px 10px;
    font-size: 20px;
}

/* TABLE of CONTENTS */

#main-toc {
    float: left;
    margin-left: 2%;
    position: fixed;
}
#main-toc, #table-of-contents a{
    font-family: "Verdana";
    color: #2b7b89;
}
html {
  scroll-padding-top: 70px; /* avoid the nav bar when clicking on headers */
}

/* needed to flush footer with bottom of screen */
body {
    margin: 0;
}
#main-content{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
    margin-bottom: 100px;
}

/* HEADER MENU */
header, header ul, footer {
    background-color: #2b7b89;
}

header, header a, footer{
    font-family: "Verdana";
    text-decoration: none;
    color: darkgrey;
}
footer a{
    color: darkgrey;
}

#homepage a{
    color: white
}

/* all list items when hovered over */
header li a:hover, #homepage a:hover{
  background-color: darkgrey;
  color: #2b7b89;
}

header {
    height: 60px;
    top: 0;
    left: 0;
    position: fixed;
    font-size: 17px;
    width: 100%;
}
header ul{
    margin: 0;
    margin-left: 10px;
    padding: 0;
}

/*override float: left in the next section so that dropdown drops, well, down*/
header .dropdown-content li{
    float:none;
}

/* all list items */
header li{
  overflow: hidden;
  float: left;
  padding: 20px 10px;
}



/* Dropdown Content (Hidden by default) */
header .dropdown-content {
    display: none;
    position: fixed;
}

/* Show the dropdown menu on hover */
header .dropdown:hover .dropdown-content {
    display: block;
}


/* FOOTER */
footer {
    text-align: right;
    font-size: 12px;
    height: 25px;
    padding: 10px;
}