<!-- Menu -->
<nav>
    <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li class="dropdown">
            <a href="portfolio.html">Portfolio</a>
            <ul class="dropdown-content">
                <li><a href="ev-data-pipeline.html">EV Data Pipeline</a></li>
                <li><a href="political-identity-prediction.html">Political Identity Prediction</a></li>
                <li><a href="youtube-recommender-system.html">YouTube Recommender Systems</a></li>
            </ul>
        </li>
        <li><a href="publications.html">Publications</a></li>
        <li><a href="teaching.html">Teaching</a></li>
        <li><a href="contact.html">Contact</a></li>
    </ul>
</nav>