<!-- Menu -->
<nav>
    <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/subpages/resume.html">Resume</a></li>
        <li class="dropdown"> Projects
            <ul class="dropdown-content">
                <li><a href="/subpages/projects/ev.html">EV Data Pipeline</a></li>
                <li><a href="/subpages/projects/political_identity.html">Political Identity Prediction</a></li>
                <li><a href="/subpages/projects/yt.html">YouTube Recommender Systems</a></li>
            </ul>
        </li>
        <li><a href="/subpages/publications.html">Publications</a></li>
    </ul>
</nav>